/*dopsat styly pro stránku form.html*/
form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.text-field {
  border: none;
  display: flex;
  flex-direction: row;
}
.text-field label {
  width: 25%;
  text-align: right;
  margin-right: 10px;
}
.text-field input {
  width: 50%;
}
.radio-field {
  border: none;
  display: flex;
  flex-direction: column;
}
