.side-menu {
  display: none;
}

.main-tema {
  display: flex;
  flex-direction: column;
}

.content-text {
  display: flex;
  flex-direction: column;
}

.content-text p {
  text-align: justify;
}

figure {
  width: 100%;
  height: auto;
}

figcaption {
  max-width: inherit;
}

.picture img {
  width: 100%;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.gallery figure {
  position: relative;
}

.picture figcaption {
  position: sticky;
  background-color: #00000080;
  color: inherit;
  padding: 5px;
}

@media (min-width: 720px) and (max-width: 960px) {
  .pictures {
    display: flex;
    flex-wrap: wrap;
  }

  .picture figcaption {
    word-wrap: auto;
  }
}