main *,
main ::after,
main ::before {
  box-sizing: border-box;
}
.side-menu {
  display: none;
}

.main-tema {
  display: flex;
  flex-direction: column;
}

.content-text {
  display: flex;
  flex-direction: column;
}

.content-text p {
  text-align: justify;
}

figure {
  width: 100%;
  height: auto;
}

figcaption {
  max-width: inherit;
}

.picture img {
  width: 100%;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.gallery figure {
  position: relative;
  margin: auto 0 auto 0;
}

.picture figcaption {
  position: sticky;
  background-color: #00000080;
  color: inherit;
  padding: 5px;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .main-tema {
    flex-direction: row;
  }
  .main-tema .content-text {
    flex-basis: 55%;
    margin-right: 30px;
  }
  .main-tema .gallery {
    flex-basis: 45%;
  }
}

@media (min-width: 1200px) {
  .middle-content {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main-tema {
    flex-basis: 80%;
    flex-direction: row;
    flex-shrink: 2;
  }
  .main-tema .content-text {
    flex-basis: 55%;
    margin-right: 30px;
  }
  .main-tema .gallery {
    flex-basis: 45%;
  }
  .pictures > * {
    flex-direction: row;
    min-width: 150px;
    max-width: 300px;
    flex-basis: 50%;
    flex-grow: 1;
  }
  aside {
    display: flex;
    flex-direction: column;
  }
  aside {
    box-sizing: border-box;
  }
  article > p {
    text-align: justify;
  }
  article {
    display: block;
    box-sizing: border-box;
  }
}
