.side-menu {
  display: none;
}
.content-text {
  display: flex;
  flex-direction: column;
}
.content-text p {
  text-align: justify;
}

figure {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.picture img {
  width: 100%;
  max-width: 500px;
}
.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pictures > * {
  flex-basis: 50%;
  flex-grow: 1;
}
.gallery figure {
  position: relative;
}
.picture figcaption {
  position: sticky;
  background-color: #00000080;
  color: inherit;
  padding: 5px;
}
@media (min-width: 720px) and (max-width: 960px) {
  .pictures {
    display: flex;
    flex-wrap: wrap;
  }
  .picture figcaption {
    word-wrap: auto;
  }
}
