body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px auto auto auto auto;
  grid-template-areas:
    "header header header header header"
    "lside mein main main rside"
    "footer footer footer footer footer";
}

header {
  grid-area: header;
  background-color: #777;
}
footer {
  grid-area: footer;
  background-color: #777;
}
.lside {
  grid-area: lside;
  background-color: #fff;
}
.pside {
  grid-area: rside;
  background-color: #fff;
}
main {
  grid-area: main;
  background-color: #fff;
}
