/*table styles*/
table {
  align-self: center;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ced6d6;
}

td,
th {
  padding: 0.2rem;
}

tbody th {
  text-align: right;
}

tbody,
thead,
th,
td {
  border-style: solid;
  border-color: #ced6d6;
  border-width: 1px;
}
<<<<<<< HEAD
=======

tr:first-child {
  background-color: #0000ff40;
}
>>>>>>> 3478083097dc0e82c34a7ebb0a7bb1a389ee2604

tr:nth-child(even) {
  background-color: #0000ff40;
}

tr:nth-child(odd) {
  background-color: #ff000040;
}
thead > tr:first-child {
  background-color: #00ff0040;
}
<<<<<<< HEAD
/*other styles*/
=======

>>>>>>> 3478083097dc0e82c34a7ebb0a7bb1a389ee2604
main {
  display: flex;
  flex-direction: column;
}
<<<<<<< HEAD
main * {
  padding: 0.5rem 0.2rem;
}
=======

>>>>>>> 3478083097dc0e82c34a7ebb0a7bb1a389ee2604
section {
  display: flex;
  flex-direction: column;
}

section>p {
  text-align: justify;
}
<<<<<<< HEAD
section > p {
  text-align: justify;
}
section > h2 {
  text-align: center;
}
section > figure {
  align-self: center;
  background-color: #00000080;
  max-width: 250px;
  padding: 0;
  margin: 0;
}
section > figure > img {
  width: 100%;
}
section > figure > figcaption {
  padding-top: 0;
  text-align: center;
}
.usa-best {
  display: flex;
  flex-direction: column;
}
.famous-bridges dt {
  padding: 0.2rem;
  font-weight: 800;
}
.famous-bridges dd {
  padding: 0.2rem;
}
.biggest-cities {
  padding: 0.2rem;
}

.biggest-cities h3 {
  text-wrap: nowrap;
}

.biggest-cities ol,
.biggest-cities ul,
.biggest-cities li {
  padding: 0.2rem;
}
main a:visited {
  color: #868686;
}
main a:link {
  text-decoration: none;
  color: #00a8ad;
}
@media (min-width: 700px) and (max-width: 1200px) {
  .usa-best {
    display: inline-flex;
    flex-direction: row;
  }
  .usa-best > * {
    margin: 0;
    flex-shrink: 0;
    flex-basis: 50%;
  }
  figure:hover > img {
    transform: scale(3.2);
    transition: all 0.5s ease-in-out;
    padding: 5px;
    background-color: #000000;
    border-color: #fff;
    border-width: 1px;
    border-style: dotted;
  }
  figure:not(:hover) > img {
    transform: scale(1);
    transition: all 0.5s ease-in-out;
  }
}

@media (min-width: 1200px) {
  .usa-best {
    display: flex;
    flex-direction: row;
    align-content: center;
  }
  figure:hover > img {
    transform: scale(3.2);
    transition: all 0.5s ease-in-out;
    padding: 5px;
    background-color: #000000;
    border-color: #fff;
    border-width: 1px;
    border-style: dotted;
  }
  figure:not(:hover) > img {
    transform: scale(1);
    transition: all 0.5s ease-in-out;
  }
}
=======

section>* {
  margin: 0 1rem;
}
>>>>>>> 3478083097dc0e82c34a7ebb0a7bb1a389ee2604
